body {
    font-family: Futura;
    width: 80%;
    margin: auto;
    margin-top: 12px;
}

a {
  text-decoration: none;
  font-size: small;
  color: lightgray;
}

a:hover {
  color: maroon;
}

h3 {
  margin-top: 3px;
}

.a-date-link {
}

.a-date-link-current {
  color: black;
}

.column-left {
  float: left;
  width: 85%;
}

.column-right {
  float: left;
  width: 15%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.div-link-box {
  text-align: center;
}

.span-time-str-only {
  color: gray;
  font-size: small;
}

.div-article {
  margin-bottom: 36px;
  margin-right: 12px;
}
