

body {
	font-family: Gill Sans;
	width: 70%;
	margin: auto;
	margin-top: 12px;
	font-size: 200%;
}

a {
	text-decoration: none;
	opacity: 0.4;
}

a:hover {
	opacity: 0.7;
}

h3 {
	margin-top: 3px;
	margin-bottom: 3px;
	max-width: 80%;
}

.a-date-link {
	color: maroon;
}

.a-date-link-current {
	opacity: 1.0;
}

.a-newspaper {
	color: maroon;
}

.span-time-str-only {
	color: lightgray;
}

.div-article {
	margin-bottom: 36px;
	margin-right: 12px;
}

.div-last-updated {
	color: lightgray;
}

.p-nlp {

}

.span-n-articles {
	font-size: x-small;
}

.span-nlp {
	color: black;
}

.span-nlp-num {
	color: orange;
}

.span-nlp-propn {
	color: green;
}



.span-reading-time {
	color: lightgray;
}

.span-seperator {
	color: lightgray;
}

.button-tts {
	font-size: 100%;
	padding: 12px;
	border-radius: 12px;
	border: 1px solid gray;
	background-color: white;
	color: maroon;
	opacity: 0.7;
}
